<Docs.docs_layout
  sections={@sections}
  mode={:live}
  active_entry_id={@entry.id}
  active_page={nil}
  home_url="/"
  github_url={@github_url}
  hex_package_url={@hex_package_url}
>
  <Docs.docs_component_detail
    entry={@entry}
    sections={@sections}
    mode={:live}
    root_prefix="/docs"
  />
</Docs.docs_layout>
