<Docs.docs_layout
  sections={@sections}
  mode={:live}
  active_page={:recipes}
  home_url="/"
  github_url={@github_url}
  hex_package_url={@hex_package_url}
>
  <Docs.recipes_page mode={:live} />
</Docs.docs_layout>
